departamentos_empleados.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="departamentos">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="departamento" maxOccurs="unbounded">
                    <xs:complexType>

                        <xs:sequence>

                            <xs:element name="nombre_departamento" type="xs:string"/>

                            <xs:element name="empleados">
                                <xs:complexType>
                                    <xs:sequence>

                                        <xs:element name="empleado" maxOccurs="unbounded">
                                            <xs:complexType>

                                                <xs:sequence>
                                                    <xs:element name="nombre" type="xs:string"/>
                                                    <xs:element name="apellido" type="xs:string"/>
                                                    <xs:element name="salario" type="xs:decimal"/>
                                                </xs:sequence>

                                                <xs:attribute name="id" type="xs:integer" use="required"/>

                                            </xs:complexType>
                                        </xs:element>

                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>

                        <xs:attribute name="id" type="xs:integer" use="required"/>

                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>